[class*=" icon-zl"],/*这里有空格*/
[class^="icon-zl"]
{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}